/* CSS Document */

body  { font: 11px Verdana, Arial, sans-serif; }

a 
{
	color:#000000;
	text-decoration:none;
}

a:hover { border-bottom: 1px dotted #000; text-decoration: none; }

#bodywrapper 
{
	margin:auto;
	width: 700px;
	background: #ffffff;
}
	
#title
{
	height:100px;
	border-color:#97CBEE;
	border-width:1px;
	border-style:solid;
}

#left  { float:left; }

.navwrap
{
	margin-top:5px;
	border-color:#97CBEE;
	border-width:1px;
	border-style:solid;
	width: 150px;
	background:#E1F0FF;
	padding:7px;	
}
	
.nav { padding-left:15px; }
	
#right 
{
	width:530px;
	float:right;
}	
	
#content 
{
	margin-top: 5px;
	margin-bottom:5px;
	width:auto;
	border: #97CBEE 1px solid;
	padding:5px;

}

h2
{
    border-top: 4px solid #CCCCCC;
    font-size: 22px;
    line-height: normal;
    margin: 22px 0 0;
    padding: 7px 0 0;
}

pre
{
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
}

p
{
    margin: 16px 0 0;
    padding: 0;
}

.bold { font-weight: bold; }