<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="InTrace"
            launchAsLabel="InTrace As"
            mode="intrace">
      </launchMode>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="intrace.ecl.ui.launching.ConfigurationDelegate"
            id="intrace.ecl.intraceLaunchDelegate"
            modes="intrace"
            name="Java Application"
            type="org.eclipse.jdt.launching.localJavaApplication">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/runcoverage.gif"
            id="intrace.ecl.inTraceLaunchGroup"
            image="icons/runcoverage.gif"
            label="InTrace"
            mode="intrace">
      </launchGroup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="intrace.ecl.inTraceActionSet"
            label="InTrace"
            visible="false">
         <action
               class="intrace.ecl.ui.launching.ToolbarAction"
               disabledIcon="icons/runcoverage.gif"
               hoverIcon="icons/runcoverage.gif"
               icon="icons/runcoverage.gif"
               id="intrace.eclipse.InTraceAction"
               label="InTrace"
               style="pulldown"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet
               id="intrace.ecl.inTraceActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="intrace.ecl.ui.launching.Shortcut"
            icon="icons/runcoverage.gif"
            id="intrace.ecl.inTraceLocalJavaShortcut"
            label="Java Application"
            modes="intrace">
         <contextualLaunch>
  <enablement>
    <with variable="selection">
     <count value="1"/>
      <iterate>
       <or>
        <test property="org.eclipse.jdt.launching.hasMain"/>
         <and>
          <test property="org.eclipse.jdt.launching.isContainer"/>
          <test property="org.eclipse.jdt.launching.hasProjectNature" args="org.eclipse.jdt.core.javanature"/>
         </and>
        </or>
      </iterate>
     </with>
  </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="intrace.ecl.ui.launching.TabGroup"
            id="intrace.ecl.JavaAppTabGroup"
            type="org.eclipse.jdt.launching.localJavaApplication">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="intrace.ecl.plugin.ui.output.InTraceEditor"
            default="false"
            icon="icons/runcoverage.gif"
            id="intrace.ecl.plugin.ui.output.inTraceEditor"
            name="InTrace Output">
      </editor>
   </extension>

</plugin>
