<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="InTrace"
            launchAsLabel="InTrace As"
            mode="intrace">
      </launchMode>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="intrace.ecl.ui.launching.LaunchConfigurationDelegate"
            id="intrace.ecl.intraceJavaAppLaunchDelegate"
            modes="intrace"
            name="Java Application"
            type="org.eclipse.jdt.launching.localJavaApplication">
      </launchDelegate>
      <launchDelegate
            delegate="intrace.ecl.ui.launching.LaunchConfigurationDelegate"
            id="intrace.ecl.intraceJunitTestLaunchDelegate"
            modes="intrace"
            name="JUnit Test"
            type="org.eclipse.jdt.junit.launchconfig">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/runintrace.gif"
            id="intrace.ecl.inTraceLaunchGroup"
            image="icons/runintrace.gif"
            label="InTrace"
            mode="intrace">
      </launchGroup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="intrace.ecl.inTraceActionSet"
            label="InTrace"
            visible="false">
         <action
               class="intrace.ecl.ui.launching.ToolbarAction"
               disabledIcon="icons/runintrace.gif"
               hoverIcon="icons/runintrace.gif"
               icon="icons/runintrace.gif"
               id="intrace.eclipse.InTraceAction"
               label="InTrace"
               style="pulldown"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet
               id="intrace.ecl.inTraceActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="intrace.ecl.ui.launching.JavaAppShortcut"
            icon="icons/java_launch.gif"
            id="intrace.ecl.inTraceLocalJavaShortcut"
            label="Java Application"
            modes="intrace">
         <contextualLaunch>
  <enablement>
    <with variable="selection">
     <count value="1"/>
      <iterate>
       <or>
        <test property="org.eclipse.jdt.launching.hasMain"/>
         <and>
          <test property="org.eclipse.jdt.launching.isContainer"/>
          <test property="org.eclipse.jdt.launching.hasProjectNature" args="org.eclipse.jdt.core.javanature"/>
         </and>
        </or>
      </iterate>
     </with>
  </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="intrace.ecl.ui.launching.JunitTestShortcut"
            icon="icons/junit_launch.gif"
            id="intrace.ecl.inTraceJunitTestShortcut"
            label="JUnit Test"
            modes="intrace">
        <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
                     <adapt type="org.eclipse.jdt.core.IJavaElement">
		                <test property="org.eclipse.jdt.core.isInJavaProject"/>
		                <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
		                <test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
		             </adapt>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="intrace.ecl.ui.launching.TabGroup"
            id="intrace.ecl.JavaAppTabGroup"
            type="org.eclipse.jdt.launching.localJavaApplication">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="intrace.ecl.ui.launching.TabGroup"
            id="intrace.ecl.JunitTestTabGroup"
            type="org.eclipse.jdt.junit.launchconfig">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="intrace.ecl.ui.output.InTraceEditor"
            default="false"
            icon="icons/runintrace.gif"
            id="intrace.ecl.plugin.ui.output.inTraceEditor"
            name="InTrace">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="intrace.ecl.ui.debugViewContrib"
            targetID="org.eclipse.debug.ui.DebugView">
         <action
               class="intrace.ecl.ui.launching.ShowInTraceOutputAction"
               icon="icons/runintrace.gif"
               id="intrace.ecl.ui.inTraceOutputAction"
               label="Open InTrace Output"
               menubarPath="launchGroup">
         </action>
      </viewerContribution>
   </extension>

</plugin>
