<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <filter>
    <filter-name>CountDownloadsFilter</filter-name>
    <filter-class>org.gaecounter.CountDownloadsFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>CountDownloadsFilter</filter-name>
    <url-pattern>/plugins/*</url-pattern>
    <url-pattern>/files/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Action</servlet-name>
    <servlet-class>org.gaecounter.ActionServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/action</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
