<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{ page.title }} - InTrace - Mchr3k</title>
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8C4E6TS4V7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8C4E6TS4V7');
</script>

</head>

<body>

<div id="title">
<img src="img/logo_small.png" height="95px"/>
</div>

<div class="colmask leftmenu">
    <div class="colright">
        <div class="col1wrap">
            <div class="col1">

			{{ content }}
			
            </div>
        </div>
        <div class="col2">
<div class="navwrapper">
<a href="./">Home</a><br />
<a href="download.html">Download</a><br />
<a href="https://github.com/mchr3k/org.intrace">Source</a><br />
<a href="https://github.com/mchr3k/org.intrace/issues">Issues</a><br />
<a href="https://mchr3k.ci.cloudbees.com/job/InTrace/">Jenkins</a><br />
<br />
<strong>User Guide</strong>
<br />
<div class="nav">
<a href="ui.html">InTrace UI</a><br />
<a href="eclipse.html">Eclipse Plugin</a><br />
<a href="screenshots.html">Screenshots</a><br />
<a href="howintraceworks.html">How InTrace Works</a><br />
<a href="troubleshooting.html">Troubleshooting</a><br />
</div>
<br />
<strong>Development</strong>
<br />
<div class="nav">
<a href="releasenotes.html">Release Notes</a><br />
<a href="roadmap.html">Roadmap</a><br />
<a href="buildingintrace.html">Building InTrace</a><br />
<a href="license.html">InTrace License</a><br />
<a href="toolsandlibs.html">Tools &amp; Libraries</a><br />
<a href="thirdpartyissues.html">3rd Party Issues</a><br />
<a href="related.html">Related Projects</a><br />
</div>
<br />
<a href="../">Other Projects</a><br />
</div>
        </div>
    </div>
</div>

</body>

</html>
