<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

<div id="bodywrapper">

<div id="title">
<img src="img/logo.png" height="95px"/>
</div>

<div id="left">

<div class="navwrap">
<a href="#">Home</a><br />
<a href="#">Download</a><br />
<br />
<strong>User Guide</strong>
<br />
<div class="nav">
<a href="#">InTrace UI</a><br />
<a href="#">InTrace Eclipse Plugin</a><br />
<a href="#">How InTrace Works</a><br />
<a href="#">Troubleshooting</a><br />
</div>
<br />
<strong>Development</strong>
<br />
<div class="nav">
<a href="#">Release Notes</a><br />
<a href="#">Roadmap</a><br />
<a href="#">Building InTrace</a><br />
<a href="#">InTrace License</a><br />
<a href="#">Tools &amp; Libraries</a><br />
<a href="#">InTrace Issues</a><br />
<a href="#">3rd Party Issues</a><br />
</div>
</div>
</div>

<div id="right">
  <div id="content">

    Content

  </div>
</div>
</div>

</body>

</html>
